.main-branding {
    height: 200px;
}

.site-logo {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.hero-heading {
    color: #4d4d4d;
}

.hero-body {
    color: #4d4d4d;
    font-size: 1.3rem;
}

.hero {
    padding-top: 425px;
    padding-right: 32px;
    padding-left: 32px;
}

.hero-inner {
    padding: 10px;
    max-width: 2500px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.site-header .site-logo {
    height: 200% !important;
}

.hero-heading {
    font-size: 2.0rem;
}

.main-content-wrap {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 50px;
    padding-left: 50px;
}

.btn-large {
    font-size: 1.0rem;
    text-transform: lowercase;
}

.basic-grid > div {
    margin-bottom: 3rem;
}
