.main-branding {
    height: 200px;
}

.site-logo {
    height: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
}

.hero-heading {
    color: #4d4d4d;
}

.hero-body {
    color: #4d4d4d;
    font-size: 1.3rem;
}

.hero {
    padding-top: 380px;
    padding-right: 50px;
    padding-left: 50px;
}

.hero-inner {
    padding: 10px;
    max-width: 2000px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.site-header .site-logo {
    height: 200% !important;
}

.hero-heading {
    font-size: 2.0rem;
}

.main-content-wrap {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 50px;
    padding-left: 50px;
}

.btn-large {
    font-size: 1.0rem;
    text-transform: lowercase;
}

.main-header {
    padding-top: 0px;
    background: url("/assets/gifs/solitary_saunter.gif") center no-repeat;
        background-position: bottom 555px right 300px;
    background-size: 18%;
    padding-bottom: 0px;
}

.basic-grid > div {
    margin-bottom: 3rem;
}
